<%- include('./partials/header') %>

<div class="container">
    <h4 class="text-center">View Clients</h4>
    <table class="table table-bordered" id="farmerTable">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Email</th>
          <th>Actions</th>
       
        </tr>
      </thead>
      <tbody>
       <% clients.forEach(client => { %>
        <tr>
          <td><%=`${client.fname} ${client.lname}`%></td>
          <td><%=client.phoneno%></td>
          <td><%=client.email%></td>
           <td>
               <div class="row">
                 
                  <div class="col-xs-12">
                    <form method="GET" action="/admin/client/remove/<%=client.clientID%>" >
                       <button class="btn btn-sm btn-danger">Remove</button>
                    </form>
                    
                  </div>
               </div>
           </td> 
   
      </tr>
      <%   }) %>

      </tbody>
    </table>
    
    </div>

  
  
<%- include('./partials/footer') %>
  
  