<%- include('./partials/header') %>

<div class="container">
    <h2 class="text-center">View Farmers</h2>
    <table class="table table-bordered" id="farmerTable">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Email</th>
          <th scope="col">County</th>
          <th scope="col">Location</th>
          <th>Actions</th>
       
        </tr>
      </thead>
      <tbody>
       

        <% farmers.forEach(farmer => { %>
          <tr>
            <td><%=`${farmer.fname} ${farmer.lname}`%></td>
            <td><%=farmer.phoneno%></td>
            <td><%=farmer.email%></td>
            <td><%=farmer.county%></td>
            <td><%=farmer.location%></td>
             <td>
                 <div class="row">
                   
                    <div class="col-xs-12">
                      <form method="GET" action="/admin/farmer/remove/<%=farmer.farmerID%>" >
                         <button class="btn btn-sm btn-danger">Remove</button>
                      </form>
                      
                    </div>
                 </div>
             </td> 
     
        </tr>
        <%   }) %>

      </tbody>
    </table>
    
    </div>

  
  
<%- include('./partials/footer') %>
  
  