<%- include('./partials/header') %>

<div class="container">
    <h2 class="text-center">View Farmers</h2>
    <div class="row justfiy-content-center " style="margin-bottom: 20px;">
      <div class="col-md-10">
        <form action="/admin/searchfarmer" class="form-inline" method="post" >
            FROM DATE : <input name="from" data-date-format="yyyy-mm-dd" data-provide="datepicker">
            TO DATE : <input name="to" data-date-format="yyyy-mm-dd" data-provide="datepicker">
            <button class="btn btn-primary">SEARCH </button>
        </form>
      </div>
    </div>
    <table class="table table-bordered" id="farmerTable">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Name</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Email</th>
          <th scope="col">County</th>
          <th scope="col">Location</th>
          <th>MPESA CODE</th>
         
          <th>Actions</th>
       
        </tr>
      </thead>
      <tbody>
       

        <% farmers.forEach(farmer => { %>
          <tr>
            <td><%=new Date(farmer.created).toDateString()%></td>
            <td><%=`${farmer.fname} ${farmer.lname}`%></td>
            <td><%=farmer.phoneno%></td>
            <td><%=farmer.email%></td>
            <td><%=farmer.county%></td>
            <td><%=farmer.location%></td>
            <td><%=farmer.mpesa%></td>
             <td>
                 <div class="row">
                   
                    <div class="col-xs-12">
                      <form method="GET" action="/admin/farmer/<%=farmer.active == 1 ? 'deactivate': 'activate'%>/<%=farmer.farmerID%>" >
                        <button class="btn btn-sm btn-primary"><%=farmer.active == 1 ? 'De-activate': 'Activate'%></button>
                     </form>
                     <br>
                      <form method="GET" action="/admin/farmer/remove/<%=farmer.farmerID%>" >
                         <button class="btn btn-sm btn-danger">Remove</button>
                      </form>
                      
                    </div>
                 </div>
             </td> 
     
        </tr>
        <%   }) %>

      </tbody>
    </table>
    
    </div>

  
  
<%- include('./partials/footer') %>
  
  