<%- include('./partials/farmerheader') %>

<% products.forEach(crop => { %>
    <div class="container py-3 mt-4" style="margin-bottom: 20px;">
        <div class="card">
          <div class="row ">
              
              <div class="col-md-8 px-3">
                <div class="card-block px-3">
                  <h4 class="card-title">Product: <%=crop.name%></h4>
                  <p class="card-text">Quantity: <%=crop.quantity%> </p>
                  <p class="card-text">Description : <%=crop.description%></p>
                <p class="card-text">Client Name:<%=`${crop.fname} ${crop.lname}`%></p>
                  <p class="card-text">Client Phone : <%=crop.phoneno%></p>
             
                </div>
              </div>
    
            </div>
          </div>
        </div>
      </div>
<% }); %>
  
<%- include('./partials/footer') %>
  
  