
<%- include('../partials/farmerheader') %>  
  
<div class="container">
    <h4 class="text-center">My PRODUCTS</h4>
    <table class="table table-bordered" id="farmerTable">
      <thead>
        <tr>
          <th scope="col">Crop Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>

        <%if(products.length == 0){%>
             <td colspan="4" >
                NO PRODUCTS AVAILABLE
             </td>
       
          <%} %>

          
         <%products.forEach((product)=>{%>
         <tr>
          <td scope="row"><%=product.name%></td>
          <td><%=product.quantity%> </td>
          <td><%=product.price%></td>
          <%if(product.sold){ %>
            <td class="success">Sold Out</td>
          <% }else{ %>
             <td class="danger">
                 <div class="row">
                    <div class="col-xs-6">Pending</div>
                    <div class="col-xs-6">
                      <form action="/farmer/setsoldproduct/<%=product.id%>" method="get">
                        <button class="btn btn-sm btn-primary">Set Sold</button>
                      </form>
                      
                    </div>
                 </div>
             </td> 
          <%}%>
        </tr>
        <%})%>
      </tbody>
    </table>
    <%if(products.length == 0){%>
       <a href="/farmer/addproduct" class="btn btn-primary btn-lg">ADD PRODUCT</a>
   <%} %>
    </div>

    <%if(products.length == 0){%>
    
      <div style="margin-bottom: 250px;"></div>

   <%} %>

<%- include('../partials/footer') %>
  
  
